//Colors
$color-navy: #172226;
$color-cream: #bfb6aa;
$color-black: #000000;
$color-brown: #592b02;
$color-tan: #8c4e03;
$color-bluegray: #424c59;
$color-white: #ffffff;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
