.btn {
  &:link,
  &:visited {
    text-decoration: none;
    padding: 0.3em 0.8em;
    display: inline-block;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 1.5rem;
    font-weight: 600;
    position: relative;
    transition: all 0.2s;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black, 0.2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 10px 10px rgba($color-black, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s;
  }

  &:hover::after {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0;
  }

  &--cream {
    color: $color-navy;
    background-color: $color-cream;
  }

  &--cream::after {
    background-color: $color-cream;
  }

  &--navy {
    background-color: $color-navy;
    color: $color-white;
  }

  &--navy::after {
    background-color: $color-navy;
  }

  &--white {
    background-color: rgba($color: $color-white, $alpha: 0.6);
    color: $color-navy;
  }

  &--white::after {
    background-color: rgba($color: $color-white, $alpha: 0.6);
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $color-tan;
    font-size: 2.3rem;
    padding: 0.8rem;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba($color-navy, 0.9);
  }

  &:hover {
    background-color: $color-cream;
    border-radius: 0.7rem;
    box-shadow: 0.4rem 0.4rem 1rem rgba($color-black, 0.8);
    color: $color-navy;
    text-decoration: none;
    text-shadow: none;
  }
}
