.section-about {
  background-color: $color-navy;
  padding: 20rem 5rem;
  margin-top: -20vh;
}

.section-features {
  h3 {
    color: #fff;
  }
  background-image: url('../img/features-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
